/* --------
   RESET
   -------- */
   * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

   .container {
    max-width: 1200px;
    margin: auto;
   }

   .debug .header-top {
      background-color: aqua;
      height: 50px;
  }
  
  .debug .header-top {
      background-color: darkorange;
      height: 50px;
  }
  
  .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .col-1