/* --------
   RESET
   -------- */
   * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

   .container {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: aqua;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
   }

   .debug {
     max-width: 1200px;
      background-color: darkorange;
      height: 100px;
      
      

      
  }
  /* 
  .debug .header-top {
      background-color: darkorange;
      height: 50px;
  }
    */
  .header-top {
      display: flex;
      justify-content: center;
     align-items: center;
  }

  .col-1 {
    width: 300px;
  }

  .col-2 {
    width: 600px;
  }

  .col-3 {
    width: 300px;
  }

  
  