/* --------
   RESET
   -------- */
   * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

   .container {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #add8e6;
    height: 200px;   
    align-items: center;
    flex-wrap: wrap;
   }

   .debug, header {
     max-width: 1200px;
      background-color: darkorange;
      height: 100px;      
  }

  .header-top {
      display: flex;
      justify-content: center;
     align-items: center;
  }

  .col-1 {
    width: 300px;
  }

  .col-2 {
    width: 600px;
  }

  .col-3 {
    width: 300px;
  }

  .sfondo {
    background-color: #00008b;
  }
  .box-1{
    display: flex;
    background-color: #ee82ee;
    flex-wrap: wrap;
    height: 400px;
    width: 900px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .sfondo-bianco {
    background-color: white;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
  }

  .box-2 {
    background-color: #add8e6;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 400px;
    width: 900px;
    display: flex;
  }

  .box-3 {
    background-color: #ffc0cb;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 400px;
    width: 500px;
    display: flex;
    
  }
  